__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
*.log
.DS_Store
output.mid
sandbox_with_data/
nul_
python
tokenized_data/
dataset/
test_debug/
*.mid
*.zip
model_output/checkpoint-32400/
autodl_package/
